/* Write your CSS here */
.container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.count-container {
  background-color: #ffffff;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #0b69ff;
  font-family: 'Roboto';
}
p {
  color: #333333;
}
.button {
  background-color: #0b69ff;
  color: #ffffff;
  width: 100px;
  border: none;
  border-radius: 5px;
  height: 30px;
}
.num {
  font-size: 40px;
  color: #0b69ff;
}
